body {
    font-family: Arial, sans-serif;
    background-image: url('https://www.w3schools.com/css/mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: cyan;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.formreg {
    text-align: center; 
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    background: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    align-self: left; 
    width: 100px; 
    font-weight: bold;
}

button:hover {
    background: darkgreen;
}

.radio-group {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
}
